//=================================================
// Grid
//=================================================

/*=============================
// Grid gutter
=============================*/
[class*='row'] {
	&.gutter-width {
		// Size xl
		&-xl {
			margin-left: -$space_xl / 2;
			margin-right: -$space_xl / 2;

			@media #{$media_xl} {
				margin-left: -$space_xl / 3;
				margin-right: -$space_xl / 3;
			}

			@media #{$media_sm} {
				margin-left: 0;
				margin-right: 0;
			}

			// Col
			> .col,
			> [class*='col-'] {
				padding-left: $space_xl / 2;
				padding-right: $space_xl / 2;

				@media #{$media_xl} {
					padding-left: $space_xl / 3;
					padding-right: $space_xl / 3;
				}

				@media #{$media_sm} {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		// Size lg
		&-lg {
			margin-left: -$space_lg / 2;
			margin-right: -$space_lg / 2;

			@media #{$media_xl} {
				margin-left: -$space_lg / 3;
				margin-right: -$space_lg / 3;
			}

			@media #{$media_sm} {
				margin-left: 0;
				margin-right: 0;
			}

			> .col,
			> [class*='col-'] {
				padding-left: $space_lg / 2;
				padding-right: $space_lg / 2;

				@media #{$media_xl} {
					padding-left: $space_lg / 3;
					padding-right: $space_lg / 3;
				}

				@media #{$media_sm} {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		// Size md
		&-md {
			margin-left: -$space_md / 2;
			margin-right: -$space_md / 2;

			@media #{$media_xl} {
				margin-left: -$space_md / 3;
				margin-right: -$space_md / 3;
			}

			@media #{$media_sm} {
				margin-left: 0;
				margin-right: 0;
			}

			> .col,
			> [class*='col-'] {
				padding-left: $space_md / 2;
				padding-right: $space_md / 2;

				@media #{$media_xl} {
					padding-left: $space_md / 3;
					padding-right: $space_md / 3;
				}

				@media #{$media_sm} {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		// Size sm
		&-sm {
			margin-left: -$space_sm / 2;
			margin-right: -$space_sm / 2;

			@media #{$media_xl} {
				margin-left: -$space_sm / 3;
				margin-right: -$space_sm / 3;
			}

			@media #{$media_sm} {
				margin-left: 0;
				margin-right: 0;
			}

			> .col,
			> [class*='col-'] {
				padding-left: $space_sm / 2;
				padding-right: $space_sm / 2;

				@media #{$media_xl} {
					padding-left: $space_sm / 3;
					padding-right: $space_sm / 3;
				}

				@media #{$media_sm} {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		// Size xs
		&-xs {
			margin-left: -$space_xs / 2;
			margin-right: -$space_xs / 2;

			@media #{$media_xl} {
				margin-left: -$space_xs / 3;
				margin-right: -$space_xs / 3;
			}

			@media #{$media_sm} {
				margin-left: 0;
				margin-right: 0;
			}

			> .col,
			> [class*='col-'] {
				padding-left: $space_xs / 2;
				padding-right: $space_xs / 2;

				@media #{$media_xl} {
					padding-left: $space_xs / 3;
					padding-right: $space_xs / 3;
				}

				@media #{$media_sm} {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	// Padding bottom
	&.with-pb-xl {
		margin-bottom: -$space_xl;

		@media #{$media_sm} {
			margin-bottom: 0;
		}

		> .col,
		> [class*='col-'] {
			padding-bottom: $space_xl;

			@media #{$media_sm} {
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	&.with-pb-lg {
		margin-bottom: -$space_lg;

		@media #{$media_sm} {
			margin-bottom: 0;
		}

		> .col,
		> [class*='col-'] {
			padding-bottom: $space_lg;

			@media #{$media_sm} {
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	&.with-pb-md {
		margin-bottom: -$space_md;

		@media #{$media_sm} {
			margin-bottom: 0;
		}

		> .col,
		> [class*='col-'] {
			padding-bottom: $space_md;

			@media #{$media_sm} {
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	&.with-pb-sm {
		margin-bottom: -$space_sm;

		@media #{$media_sm} {
			margin-bottom: 0;
		}

		> .col,
		> [class*='col-'] {
			padding-bottom: $space_sm;

			@media #{$media_sm} {
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	&.with-pb-xs {
		margin-bottom: -$space_xs;

		@media #{$media_sm} {
			margin-bottom: 0;
		}

		> .col,
		> [class*='col-'] {
			padding-bottom: $space_xs;

			@media #{$media_sm} {
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}
}

.form-row {
	&.gutter-width {
		// Size xl
		&-xl {
			@media #{$media_sm} {
				margin-left: -$space_xl / 3;
				margin-right: -$space_xl / 3;
			}

			> .col,
			> [class*='col-'] {
				@media #{$media_sm} {
					padding-left: $space_xl / 3;
					padding-right: $space_xl / 3;
				}
			}
		}

		// Size lg
		&-lg {
			@media #{$media_sm} {
				margin-left: -$space_lg / 3;
				margin-right: -$space_lg / 3;
			}

			> .col,
			> [class*='col-'] {
				@media #{$media_sm} {
					padding-left: $space_lg / 3;
					padding-right: $space_lg / 3;
				}
			}
		}

		// Size md
		&-md {
			@media #{$media_sm} {
				margin-left: -$space_md / 3;
				margin-right: -$space_md / 3;
			}

			> .col,
			> [class*='col-'] {
				@media #{$media_sm} {
					padding-left: $space_md / 3;
					padding-right: $space_md / 3;
				}
			}
		}

		// Size sm
		&-sm {
			@media #{$media_sm} {
				margin-left: -$space_sm / 3;
				margin-right: -$space_sm / 3;
			}

			> .col,
			> [class*='col-'] {
				@media #{$media_sm} {
					padding-left: $space_sm / 3;
					padding-right: $space_sm / 3;
				}
			}
		}

		// Size xs
		&-xs {
			@media #{$media_sm} {
				margin-left: -$space_xs / 3;
				margin-right: -$space_xs / 3;
			}

			> .col,
			> [class*='col-'] {
				@media #{$media_sm} {
					padding-left: $space_xs / 3;
					padding-right: $space_xs / 3;
				}
			}
		}
	}
}
