//=================================================
// Card
//=================================================

.card {
    .card-header {
        padding: $card-spacer-y / 1.5 $card-spacer-x;
        margin-bottom: 0 !important;
    }

    .card-footer {
        padding: $card-spacer-y / 1.5 $card-spacer-x;
    }

    ul {
        margin-bottom: 0 !important;
    }
}
