//=================================================
// Input group
//=================================================

.input-group {
	.btn {
		min-width: auto;
		padding-top: 0;
		padding-bottom: 0;
	}
}
