/*=================================================
// Style
//
// @package ProjectName
// @author  Adveits <support@adveits.com>
// @version 1.0.0
=================================================*/

//=================================================
// Theme variables
//=================================================
// Variables
@import "variables";

//=================================================
// Theme mixins
//=================================================
// Mixins
@import "mixins";

/*=================================================
// Table of contents
//
// #1 Icons import ( FontAwesome )
//
// #2 Bootstrap settings
// #2.1 Style reboot
// #2.2 Root
// #2.3 Type
// #2.4 Images
// #2.5 Code
// #2.6 Grid
// #2.7 Tables
// #2.8 Forms
// #2.9 Buttons
// #2.10 Transitions
// #2.11 Dropdown
// #2.12 Button group
// #2.13 Input group
// #2.14 Custom forms
// #2.15 Nav
// #2.16 Navbar
// #2.17 Card
// #2.18 Breadcrumb
// #2.19 Pagination
// #2.20 Badge
// #2.21 Jumbotron
// #2.22 Alert
// #2.23 Progress
// #2.24 Media
// #2.25 List group
// #2.26 Close
// #2.27 Toasts
// #2.28 Modal
// #2.29 Tooltip
// #2.30 Popover
// #2.31 Carousel
// #2.32 Spinners
// #2.33 Utilities
//
// #3 Theme default style
// #3.1 Font
//
// #4 Theme layout
// #4.1 Grid
//
// #5 Theme content
// #5.1 Typography
// #5.2 Images
// #5.3 Icons
// #5.4 Tables
// #5.5 Figures
//
// #6 Theme components
// #6.1 Alert
// #6.2 Breadcrumb
// #6.3 Button
// #6.4 Card
// #6.5 Collapse
// #6.6 Dropdown
// #6.7 Input group
// #6.8 Forms
// #6.9 List group
// #6.10 Modal
// #6.11 Nav
// #6.12 Navbar
// #6.13 Pagination
// #6.14 Carousel
// #6.15 Scrollbar
//
// #7 Theme utilities
// #7.1 Colors
// #7.2 Iframe
// #7.3 Overflow
// #7.4 Sizing
// #7.5 Spacing
// #7.6 Transition
// #7.7 Transform
//
// #8 Theme blocks
// #8.1 Header
// #8.2 Footer
// #8.3 Main
// #8.4 Page title
// #8.5 Page content
// #8.6 Widget
// #8.7 Loading
// #8.8 Old browser
// #8.9 UI
//
// #9 Animate
//
// DEV
=================================================*/

/*=================================================
// #1 Icons import ( FontAwesome )
=================================================*/
@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/brands";
@import "fontawesome/solid";

/*=================================================
// #2 Bootstrap settings
=================================================*/
/*=============================
// #2.1 Style reboot
=============================*/
@import "../../../node_modules/bootstrap/scss/functions";
@import "bootstrap-style-rewrite";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/reboot";

/*=============================
// #2.2 Root
=============================*/
@import "../../../node_modules/bootstrap/scss/root";

/*=============================
// #2.3 Type
=============================*/
@import "../../../node_modules/bootstrap/scss/type";

/*=============================
// #2.4 Images
=============================*/
@import "../../../node_modules/bootstrap/scss/images";

/*=============================
// #2.5 Code
=============================*/
@import "../../../node_modules/bootstrap/scss/code";

/*=============================
// #2.6 Grid
=============================*/
@import "../../../node_modules/bootstrap/scss/grid";

/*=============================
// #2.7 Tables
=============================*/
@import "../../../node_modules/bootstrap/scss/tables";

/*=============================
// #2.8 Forms
=============================*/
@import "../../../node_modules/bootstrap/scss/forms";

/*=============================
// #2.9 Buttons
=============================*/
@import "../../../node_modules/bootstrap/scss/buttons";

/*=============================
// #2.10 Transitions
=============================*/
@import "../../../node_modules/bootstrap/scss/transitions";

/*=============================
// #2.11 Dropdown
=============================*/
@import "../../../node_modules/bootstrap/scss/dropdown";

/*=============================
// #2.12 Button group
=============================*/
@import "../../../node_modules/bootstrap/scss/button-group";

/*=============================
// #2.13 Input group
=============================*/
@import "../../../node_modules/bootstrap/scss/input-group";

/*=============================
// #2.14 Custom forms
=============================*/
@import "../../../node_modules/bootstrap/scss/custom-forms";

/*=============================
// #2.15 Nav
=============================*/
@import "../../../node_modules/bootstrap/scss/nav";

/*=============================
// #2.16 Navbar
=============================*/
@import "../../../node_modules/bootstrap/scss/navbar";

/*=============================
// #2.17 Card
=============================*/
@import "../../../node_modules/bootstrap/scss/card";

/*=============================
// #2.18 Breadcrumb
=============================*/
@import "../../../node_modules/bootstrap/scss/breadcrumb";

/*=============================
// #2.19 Pagination
=============================*/
@import "../../../node_modules/bootstrap/scss/pagination";

/*=============================
// #2.20 Badge
=============================*/
@import "../../../node_modules/bootstrap/scss/badge";

/*=============================
// #2.21 Jumbotron
=============================*/
@import "../../../node_modules/bootstrap/scss/jumbotron";

/*=============================
// #2.22 Alert
=============================*/
@import "../../../node_modules/bootstrap/scss/alert";

/*=============================
// #2.23 Progress
=============================*/
@import "../../../node_modules/bootstrap/scss/progress";

/*=============================
// #2.24 Media
=============================*/
@import "../../../node_modules/bootstrap/scss/media";

/*=============================
// #2.25 List group
=============================*/
@import "../../../node_modules/bootstrap/scss/list-group";

/*=============================
// #2.26 Close
=============================*/
@import "../../../node_modules/bootstrap/scss/close";

/*=============================
// #2.27 Toasts
=============================*/
@import "../../../node_modules/bootstrap/scss/toasts";

/*=============================
// #2.28 Modal
=============================*/
@import "../../../node_modules/bootstrap/scss/modal";

/*=============================
// #2.29 Tooltip
=============================*/
@import "../../../node_modules/bootstrap/scss/tooltip";

/*=============================
// #2.30 Popover
=============================*/
@import "../../../node_modules/bootstrap/scss/popover";

/*=============================
// #2.31 Carousel
=============================*/
@import "../../../node_modules/bootstrap/scss/carousel";

/*=============================
// #2.32 Spinners
=============================*/
@import "../../../node_modules/bootstrap/scss/spinners";

/*=============================
// #2.33 Utilities
=============================*/
@import "../../../node_modules/bootstrap/scss/utilities";

/*=================================================
// #3 Theme default style
=================================================*/
html {
	-webkit-overflow-scrolling: touch;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $body_font_size;
	scroll-behavior: smooth;

	@media #{$media_xxl} {
		font-size: $body_font_size - 2;
	}

	@media #{$media_xl} {
		font-size: $body_font_size - 3;
	}

	@media #{$media_lg} {
		font-size: $body_font_size - 4;
	}

	@media #{$media_md} {
		font-size: $body_font_size - 5;
	}
}

body {
	background-color: $body_background_color;
	font-size: $body_font_size;
	min-width: 320px;

	@media #{$media_xxl} {
		font-size: $body_font_size - 2;
	}

	@media #{$media_xl} {
		font-size: $body_font_size - 3;
	}

	@media #{$media_lg} {
		font-size: $body_font_size - 4;
	}

	@media #{$media_md} {
		font-size: $body_font_size - 5;
	}
}

::selection {
	background: $body_main_element_primary_color;
	color: color-yiq($body_main_element_primary_color);
}

.wrapper {
	max-width: $wrapper_max_w;
	margin: auto;
	padding-left: $wrapper_p_l;
	padding-right: $wrapper_p_r;

	@media #{$media_xl} {
		padding-left: $wrapper_p_l_xl;
		padding-right: $wrapper_p_r_xl;
	}
}

@media #{$media_md} {
	#main {
		.wrapper {
			max-width: 450px;
		}

		.wrapper-normal {
			.wrapper {
				max-width: $wrapper_max_w;
			}
		}
	}
}

/*=============================
// #3.1 Font
=============================*/
@import "font";

/*=================================================
// #4 Theme layout
=================================================*/
/*=============================
// #4.1 Grid
=============================*/
@import "layout/grid";

/*=================================================
// #5 Theme content
=================================================*/
/*=============================
// #5.1 Typography
=============================*/
@import "content/typography";

/*=============================
// #5.2 Images
=============================*/
@import "content/images";

/*=============================
// #5.3 Icons
=============================*/
@import "content/icons";

/*=============================
// #5.4 Tables
=============================*/
@import "content/tables";

/*=============================
// #5.5 Figures
=============================*/
@import "content/figures";

/*=================================================
// #6 Theme components
=================================================*/
/*=============================
// #6.1 Alert
=============================*/
@import "components/alert";

/*=============================
// #6.2 Breadcrumb
=============================*/
@import "components/breadcrumb";

/*=============================
// #6.3 Button
=============================*/
@import "components/button";

/*=============================
// #6.4 Card
=============================*/
@import "components/card";

/*=============================
// #6.5 Collapse
=============================*/
@import "components/collapse";

/*=============================
// #6.6 Dropdown
=============================*/
@import "components/dropdown";

/*=============================
// #6.7 Input group
=============================*/
@import "components/input-group";

/*=============================
// #6.8 Forms
=============================*/
@import "components/forms";

/*=============================
// #6.9 List group
=============================*/
@import "components/list-group";

/*=============================
// #6.10 Modal
=============================*/
@import "components/modal";

/*=============================
// #6.11 Nav
=============================*/
@import "components/nav";

/*=============================
// #6.12 Navbar
=============================*/
@import "components/navbar";

/*=============================
// #6.13 Pagination
=============================*/
@import "components/pagination";

/*=============================
// #6.14 Carousel
=============================*/
@import "components/carousel";

/*=============================
// #6.15 Scrollbar
=============================*/
@import "components/scrollbar";

/*=================================================
// #7 Theme utilities
=================================================*/
/*=============================
// #7.1 Colors
=============================*/
@import "utilities/colors";

/*=============================
// #7.2 Iframe
=============================*/
@import "utilities/iframe";

/*=============================
// #7.3 Overflow
=============================*/
@import "utilities/overflow";

/*=============================
// #7.4 Sizing
=============================*/
@import "utilities/sizing";

/*=============================
// #7.5 Spacing
=============================*/
@import "utilities/spacing";

/*=============================
// #7.6 Transition
=============================*/
@import "utilities/transition";

/*=============================
// #7.7 Transform
=============================*/
@import "utilities/transform";

/*=================================================
// #8 Theme blocks
=================================================*/
/*=============================
// #8.1 Header
=============================*/
@import "blocks/header";

/*=============================
// #8.2 Footer
=============================*/
@import "blocks/footer";

/*=============================
// #8.3 Main
=============================*/
@import "blocks/main";

/*=============================
// #8.4 Page title
=============================*/
@import "blocks/page-title";

/*=============================
// #8.5 Page content
=============================*/
@import "blocks/page-content";

/*=============================
// #8.6 Widget
=============================*/
@import "blocks/widget";

/*=============================
// #8.7 Loading
=============================*/
@import "blocks/loading";

/*=============================
// #8.8 Old browser
=============================*/
@import "blocks/old-browser";

/*=============================
// #8.9 UI
=============================*/
@import "blocks/ui";

/*=================================================
// #9 Animate
=================================================*/
@import "../../../node_modules/animate.css/animate";

//=================================================
// DEV
//=================================================
//body {
//	background-image: url(../img/bg/dev.png);
//	background-attachment: fixed;
//	background-repeat: repeat-y;
//	background-position: center;
//}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  width: 1920px;
  height: 4326px;
}
.first-section {
  width: 758px;
  height: 356px;
  position: absolute;
  left: 110px;
  top: 238px;
}
.heading-left {
  width: 757px;
  height: 186px;
}
.heading-left h1 {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 93px;
  font-size: 76px;
  margin-top: 0;
  margin-bottom: 35px;
}
.heading-paragraph {
  width: 758px;
  height: 66px;
}
.heading-paragraph p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #767676;
  margin-top: 35px;
  margin-bottom: 39px;
}
.heading-button {
  margin-top: 39px;
}
.heading-button a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #060606;
  text-decoration: none;
  border-bottom: 1px solid #060606;
  padding-bottom: 0.5px;
}
.heading-button svg {
  width: 19px;
  height: 16px;
  margin-left: 14.67px;
}
.magnifier {
  margin-top: 0;
}
.magnifier svg {
  position: absolute;
  margin-top: 458px;
  margin-left: 59px;
  width: 19px;
  height: 16px;
}
.main-image {
  position: absolute;
  width: 758px;
  height: 832px;
  left: 917px;
  top: 0px;
}
.navigation {
  position: absolute;
  margin-left: 1735px;
  margin-top: 34px;
  width: 125px;
  height: 641px;
}
.navigation h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  color: #060606;
}
.first-line svg {
  position: absolute;
  margin-top: 253px;
  margin-left: 53px;
  margin-bottom: 0;
}
.second-line svg {
  position: absolute;
  margin-top: 262px;
  margin-left: 53px;
}
.magnifier svg {
  position: absolute;
  width: 16px;
  height: 16px;
}
.navigation-text {
  position: absolute;
  margin-top: 493px;
  margin-left: 53px;
}
.en {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #060606;
}
.ru {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #828282;
}
.bitmap-image {
  position: absolute;
  width: 1565px;
  height: 819px;
  left: 110px;
  top: 991px;
  z-index: -1;
}
.text-left {
  position: absolute;
  left: 243px;
  top: 1136px;
  width: 626px;
  height: 206px;
}
.text-left h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
.text-button {
  margin-top: 40px;
}
.text-button a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5px;
}
.text-button svg {
  width: 19px;
  height: 16px;
  margin-left: 14.67px;
  color: #fff;
}
.logos {
  position: relative;
  width: 510px;
  height: 40px;
  left: 243px;
  top: 1618px;
}
#first-logo {
  width: 108.89px;
  height: 40px;
  position: absolute;
}
#second-logo {
  margin-left: 139px;
  margin-top: 8px;
  width: 91.07px;
  height: 25px;
  position: absolute;
}
#third-logo {
  margin-left: 260px;
  margin-top: 9px;
  position: absolute;
}
#fourth-logo {
  margin-left: 385px;
  margin-top: 8px;
  width: 124.2px;
  height: 23px;
  position: absolute;
}
.line svg {
  position: absolute;
  width: 1px;
  height: 565px;
  left: 960px;
  top: 1118px;
}
.text-right {
  width: 488px;
  height: 514px;
  position: absolute;
  left: 1052px;
  top: 1152px;
}
.para-one h3,
.para-two h3,
.para-three h3 {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.para-one p,
.para-two p,
.para-three p {
  font-family: "Montserrat";
  margin-top: 15px;
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #bebebe;
}
.second-image img {
  position: absolute;
  width: 758px;
  height: 832px;
  left: 110px;
  top: 1970px;
}
.bitmap-two img {
  position: absolute;
  width: 394px;
  height: 254px;
  left: 474px;
  top: 2548px;
}
.image-text {
  position: absolute;
  width: 294px;
  height: 191px;
  left: 524px;
  top: 2571px;
}
.image-text h2 {
  width: 108px;
  height: 122px;
  position: absolute;
  margin-top: 0px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  color: #ffffff;
}
.image-text h3 {
  position: absolute;
  width: 132px;
  height: 39px;
  margin-top: 66px;
  margin-left: 120px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.image-text p {
  margin-top: 127px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.growing-business {
  position: absolute;
  width: 623px;
  height: 575px;
  left: 957px;
  top: 2099px;
}
.growing-business h2 {
  position: absolute;
  margin-top: 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #060606;
}
.growing-business p {
  margin-top: 173px;
  margin-bottom: 50px;
  width: 488px;
  height: 192px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #767676;
}
.signature {
  position: absolute;
  width: 347px;
  height: 76px;
}
.signature img {
  position: absolute;
  width: 128px;
  height: 75.96px;
}
.signature h3 {
  margin-top: 12.98px;
  margin-left: 178px;
  position: absolute;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #060606;
}
.signature p {
  position: absolute;
  margin-top: 46.98px;
  margin-left: 178px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #060606;
}
.signature-text-button {
  position: absolute;
  margin-top: 130px;
}
.signature-text-button a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5px;
}
.signature-text-button svg {
  width: 19px;
  height: 16px;
  margin-left: 14.67px;
  color: #000;
}
.fourth-section {
  position: absolute;
  width: 1515px;
  height: 907px;
  top: 3122px;
  left: 111px;
}
.black-rectangle {
  position: absolute;
  width: 623px;
  height: 905px;
  background-color: #000;
}
.black-rectangle h2 {
  width: 503px;
  height: 204px;
  margin-top: 85px;
  margin-bottom: 326px;
  margin-left: 60px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
}
.black-rectangle p {
  width: 427px;
  height: 64px;
  margin-top: 0;
  margin-left: 60px;
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.black-rectangle .signature {
  position: absolute;
  margin-top: 0;
  margin-left: 60px;
  width: 347px;
  height: 76px;
}
.black-rectangle .signature img {
  width: 128px;
  height: 75.96px;
}
.black-rectangle .signature h3 {
  margin-top: 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}
.black-rectangle .signature p {
  margin-top: 35px;
  margin-left: 178px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #bebebe;
}
.people {
  width: 842px;
  height: 907px;
  margin-left: 673px;
}
.person-first img,
.person-second img,
.person-third img {
  width: 269px;
  height: 269px;
}
.person-first,
.person-second {
  margin-bottom: 50px;
}
.person-first,
.person-second,
.person-third {
  display: flex;
}
.person-first-text h3,
.person-second-text h3,
.person-third-text h3 {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #060606;
}
.person-first-text h2,
.person-second-text h2,
.person-third-text h2 {
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 21px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #14348e;
  background-color: rgba(20, 52, 142, 0.15);
}
.person-first-text h2 {
  width: 77px;
  height: 40px;
}
.person-first-text p,
.person-second-text p,
.person-third-text p {
  margin-left: 50px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #767676;
}
.person-second-text h2 {
  width: 233px;
  height: 40px;
}
.person-third-text h2 {
  width: 207px;
  height: 40px;
}
.person-first-text svg,
.person-second-text svg,
.person-third-text svg {
  margin-left: 50px;
  margin-right: -25px;
}
.site-footer {
  position: absolute;
  top: 4038px;
  width: 1920px;
  height: 288px;
}
.site-footer button {
  margin-left: 1764px;
  width: 70px;
  height: 70px;
  background: #060606;
  border: none;
  outline: none;
}
button svg {
  width: 19px;
  height: 16px;
  transform: rotate(-90deg);
}
.text h3 {
  margin-top: 48px;
  margin-bottom: 56px;
  margin-left: 110px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  color: #060606;
}
.text p {
  margin-left: 545px;
  margin-top: 54px;
  margin-bottom: 61px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #767676;
}
.text {
  width: 1920px;
  height: 137px;
  margin-top: 159px;
  display: flex;
}
.socials {
  display: flex;
  position: absolute;
  margin-left: 1615px;
  margin-top: 55px;
  gap: 30px;
  width: 61px;
  height: 20px;
}
.socials:first-child {
  width: 20px;
  height: 20px;
}
